[submodule "contract/lib/reference"]
	path = contract/lib/reference
	url = https://github.com/erc6551/reference
[submodule "contract/lib/openzeppelin-contracts"]
	path = contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
